:root{
    background-color: #1F1F1F;
}

body{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}